# Terraform
terraform/digitalocean/terraform.tfvars
terraform/digitalocean/.terraform/
terraform/digitalocean/terraform.tfstate
terraform/digitalocean/terraform.tfstate.backup
terraform/digitalocean/tfplan
*.tfvars
!*.tfvars.example
